{
  "extends": "think",
  "rules": {
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-console": 0,
    "no-unused-vars": [
      2,
      {
        "vars": "local"
      }
    ],
    "prefer-const": 0,
    "no-spaced-func": 0,
    "space-before-function-paren": 0,
    "key-spacing": 0
  }
}